<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsinghua.edukg.dao.mapper.CourseMapper">
  <resultMap id="BaseResultMap" type="com.tsinghua.edukg.dao.entity.Course">
    <constructor>
      <idArg column="course_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="course_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cover_img" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="grade" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="chapter_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="chapter_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="book_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="book_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    course_id, course_name, cover_img, grade, chapter_id, chapter_name, book_id, book_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course
    where course_id = #{courseId,jdbcType=VARCHAR}
  </select>
  <select id="selectByUri" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from course
    where course_id  in
    (select uri_re_course.course_id from uri_re_course
    WHERE uri_re_course.uri = #{uri,jdbcType=VARCHAR})
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from course
    where course_id = #{courseId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tsinghua.edukg.dao.entity.Course">
    insert into course (course_id, course_name, cover_img, 
      grade, chapter_id, chapter_name, 
      book_id, book_name)
    values (#{courseId,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR}, #{coverImg,jdbcType=VARCHAR}, 
      #{grade,jdbcType=INTEGER}, #{chapterId,jdbcType=VARCHAR}, #{chapterName,jdbcType=VARCHAR}, 
      #{bookId,jdbcType=VARCHAR}, #{bookName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tsinghua.edukg.dao.entity.Course">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        course_id,
      </if>
      <if test="courseName != null">
        course_name,
      </if>
      <if test="coverImg != null">
        cover_img,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="chapterId != null">
        chapter_id,
      </if>
      <if test="chapterName != null">
        chapter_name,
      </if>
      <if test="bookId != null">
        book_id,
      </if>
      <if test="bookName != null">
        book_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="coverImg != null">
        #{coverImg,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="chapterId != null">
        #{chapterId,jdbcType=VARCHAR},
      </if>
      <if test="chapterName != null">
        #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=VARCHAR},
      </if>
      <if test="bookName != null">
        #{bookName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tsinghua.edukg.dao.entity.Course">
    update course
    <set>
      <if test="courseName != null">
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="coverImg != null">
        cover_img = #{coverImg,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="chapterId != null">
        chapter_id = #{chapterId,jdbcType=VARCHAR},
      </if>
      <if test="chapterName != null">
        chapter_name = #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=VARCHAR},
      </if>
      <if test="bookName != null">
        book_name = #{bookName,jdbcType=VARCHAR},
      </if>
    </set>
    where course_id = #{courseId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tsinghua.edukg.dao.entity.Course">
    update course
    set course_name = #{courseName,jdbcType=VARCHAR},
      cover_img = #{coverImg,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER},
      chapter_id = #{chapterId,jdbcType=VARCHAR},
      chapter_name = #{chapterName,jdbcType=VARCHAR},
      book_id = #{bookId,jdbcType=VARCHAR},
      book_name = #{bookName,jdbcType=VARCHAR}
    where course_id = #{courseId,jdbcType=VARCHAR}
  </update>
</mapper>