<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsinghua.edukg.dao.mapper.UriReCourseMapper">
  <resultMap id="BaseResultMap" type="com.tsinghua.edukg.dao.entity.UriReCourse">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="uri" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="course_id" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, uri, course_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from uri_re_course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from uri_re_course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tsinghua.edukg.dao.entity.UriReCourse">
    insert into uri_re_course (id, uri, course_id
      )
    values (#{id,jdbcType=INTEGER}, #{uri,jdbcType=VARCHAR}, #{courseId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tsinghua.edukg.dao.entity.UriReCourse">
    insert into uri_re_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uri != null">
        uri,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uri != null">
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tsinghua.edukg.dao.entity.UriReCourse">
    update uri_re_course
    <set>
      <if test="uri != null">
        uri = #{uri,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tsinghua.edukg.dao.entity.UriReCourse">
    update uri_re_course
    set uri = #{uri,jdbcType=VARCHAR},
      course_id = #{courseId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>